<style>
input[type='number']{
    width: 80px;
} 
</style><center>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <link rel="stylesheet" href="stylesheets/style.css">

    
    <iframe src="https://giphy.com/embed/VdifwdNXnKFcctmPgT" width="384" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/bowlero-birthday-bowling-bowlmojis-VdifwdNXnKFcctmPgT"></a></p>
    <h2>Bowling: choose your first roll</h2>
    <table>
        <tr>
          <form action='/result' method='get'>
            <td><input type='submit' value=0 name='player_1_choice'></td>
            <td><input type='submit' value=1 name='player_1_choice'></td>
            <td><input type='submit' value=2 name='player_1_choice'></td>
            <td><input type='submit' value=3 name='player_1_choice'></td>
            <td><input type='submit' value=4 name='player_1_choice'></td>
            <td><input type='submit' value=5 name='player_1_choice'></td>
            <td><input type='submit' value=6 name='player_1_choice'></td>
            <td><input type='submit' value=7 name='player_1_choice'></td>
            <td><input type='submit' value=8 name='player_1_choice'></td>
            <td><input type='submit' value=9 name='player_1_choice'></td>
            <td><input type='submit' value=10 name='player_1_choice'></td>
          </form>
        </tr>

