<style>
input[type='number']{
    width: 80px;
} 
</style>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <link rel="stylesheet" href="stylesheets/style.css">


    <table>
        <tr>
        <td id="1-1">1-1</td>
         <td id="1-2">1-2</td>
         <td id="2-1">2-1</td>
         <td id="2-2">2-2</td>
         <td id="3-1">3-1</td>
         <td id="3-2">3-2</td>
        </tr>
        <tr>
         <td id="1a"><input type="number" id="Text1" name="TextBox1" min=0 max=10></td>
         <td id="1b"><input type="number" id="Text2" name="TextBox2" min=0 max=10></td>
         <td id="1a"><input type="number" id="T3" name="T3" min=0 max=10></td>
         <td id="1b"><input type="number" id="T4" name="T4" min=0 max=10></td>
         <td id="1a"><input type="number" id="T5" name="T5" min=0 max=10></td>
         <td id="1b"><input type="number" id="T6" name="T6" min=0 max=10></td>
        </tr>
        <tr>
         <td id="1a"></td>
         <td id="1b"><input type="text" id="txtresult" name="TextBox3" size=8 value = 0></td>
         <td id="2a"></td>
         <td id="f_3"><input type="text" id="f2" name="TextBox3" size=8></td>
         <td id="f_4"></td>
        </tr>
        <tr>
          <td><button id="win" onclick="win()">eight</button></td>
          <td><input type="button" name="clickbtn" value="Display Result" onclick="add_number()"></td>
          <td><button id="win" onclick="nine()">nine</button></td>
          <td><input type="button" name="clickbtn" value="Display RRRR" onclick="add_number()"></td>
          <td><button id="win" onclick="win()">Win!</button></td>
          <td><button id="10" onclick="lose()">10!</button></td>
        </tr>
    </table>


<script>
            num = NaN;
            if (isNaN(num)) num = 0;
            console.log(number);

 function add_number() {
 
            var first_number = parseInt(document.getElementById("Text1").value);
            var second_number = parseInt(document.getElementById("Text2").value);
            var result = first_number + second_number;

            var third_number = parseInt(document.getElementById("T3").value);
            var fourth_number = parseInt(document.getElementById("T4").value);
            var result2 = third_number + fourth_number;

            var fifth_number = parseInt(document.getElementById("T5").value);
            var sixth_number = parseInt(document.getElementById("T6").value);
            var result3 = fifth_number + sixth_number;

            if (first_number == 10 && third_number == 10 ) {
            document.getElementById("txtresult").value = result + result2 + fifth_number; }
         
            else {
          
            document.getElementById("txtresult").value = result; }
      
            document.getElementById("f2").value = result2;
            
          

  
        }
</script>


<script>
    var wins= 0;
    var f_10 = 0;

    function win() {
        wins= 8;
        document.getElementById('1a').innerHTML= wins;
    };

    function ten() {
        f_10 = 2;
        document.getElementById('1b').innerHTML= f_10;
    };

    function nine() {
        f_10 = 9;
        document.getElementById('2a').innerHTML= f_10;
    };

</script>

</html>
